body {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.titulo,
.descricao {
    margin-top: 25px;
    text-align: center;
}

.div_botoes {
    text-align: center;
}

#resultados {
    margin-top: 15px;
    text-align: center;
}

.rodape {
    text-align: center;
}

a {
    font-weight: bolder;
    color: black;
}

.inline {
    display: inline;
}